ul{
    display: flex;
    list-style: none;
    
}
.nav_list{
    display: flex;
    justify-content: space-around;

}
.f1{
    background-color: red;

}
.endurance{
    background-color: purple;
}
.nascar{
  background-color: orange;

}

